// Main grid classes

.grid {
  @include flex-center-column;
  width: $container-width;
  min-height: 1px;
  @include mq-max(992px) {
    margin-top: 6rem;
  }
  @include mq-max(1200px) {
    width: 100%;
  }
}

.row {
  @include flex-row;
  padding: $row-padding 0;
  width: 100%;
  flex-wrap: wrap;
}

// Columns

[class*='col-'] {
  margin: 1rem $gutter 1rem $gutter;
  @include flex-center-column;
}

// Basic classes

.col {
  &-xs {
    @include mq-max($xs-1) {
      &-1 {
        width: $col-1;
      }
      &-2 {
        width: $col-2;
      }
      &-3 {
        width: $col-3;
      }
      &-4 {
        width: $col-4;
      }
      &-5 {
        width: $col-5;
      }
      &-6 {
        width: $col-6;
      }
      &-7 {
        width: $col-7;
      }
      &-8 {
        width: $col-8;
      }
      &-9 {
        width: $col-9;
      }
      &-10 {
        width: $col-10;
      }
      &-11 {
        width: $col-11;
      }
      &-12 {
        width: $col-12;
      }
    }
  }
  &-sm {
    @include mq-minmax($xs,$sm-1) {
      &-1 {
        width: $col-1;
      }
      &-2 {
        width: $col-2;
      }
      &-3 {
        width: $col-3;
      }
      &-4 {
        width: $col-4;
      }
      &-5 {
        width: $col-5;
      }
      &-6 {
        width: $col-6;
      }
      &-7 {
        width: $col-7;
      }
      &-8 {
        width: $col-8;
      }
      &-9 {
        width: $col-9;
      }
      &-10 {
        width: $col-10;
      }
      &-11 {
        width: $col-11;
      }
      &-12 {
        width: $col-12;
      }
    }
  }
  &-md {
    @include mq-minmax($sm,$md-1) {
      &-1 {
        width: $col-1;
      }
      &-2 {
        width: $col-2;
      }
      &-3 {
        width: $col-3;
      }
      &-4 {
        width: $col-4;
      }
      &-5 {
        width: $col-5;
      }
      &-6 {
        width: $col-6;
      }
      &-7 {
        width: $col-7;
      }
      &-8 {
        width: $col-8;
      }
      &-9 {
        width: $col-9;
      }
      &-10 {
        width: $col-10;
      }
      &-11 {
        width: $col-11;
      }
      &-12 {
        width: $col-12;
      }
    }
  }
  &-lg {
    @include mq-minmax($md,$lg-1) {
      &-1 {
        width: $col-1;
      }
      &-2 {
        width: $col-2;
      }
      &-3 {
        width: $col-3;
      }
      &-4 {
        width: $col-4;
      }
      &-5 {
        width: $col-5;
      }
      &-6 {
        width: $col-6;
      }
      &-7 {
        width: $col-7;
      }
      &-8 {
        width: $col-8;
      }
      &-9 {
        width: $col-9;
      }
      &-10 {
        width: $col-10;
      }
      &-11 {
        width: $col-11;
      }
      &-12 {
        width: $col-12;
      }
    }
  }
  &-xl {
    @include mq-min($lg) {
      &-1 {
        width: $col-1;
      }
      &-2 {
        width: $col-2;
      }
      &-3 {
        width: $col-3;
      }
      &-4 {
        width: $col-4;
      }
      &-5 {
        width: $col-5;
      }
      &-6 {
        width: $col-6;
      }
      &-7 {
        width: $col-7;
      }
      &-8 {
        width: $col-8;
      }
      &-9 {
        width: $col-9;
      }
      &-10 {
        width: $col-10;
      }
      &-11 {
        width: $col-11;
      }
      &-12 {
        width: $col-12;
      }
    }
  }
}

// Offsets

.col {
  &-xs-offset {
    @include mq-max($xs-1) {
      &-1 {
        margin-left: $col-offset-1;
      }
      &-2 {
        margin-left: $col-offset-2;
      }
      &-3 {
        margin-left: $col-offset-3;
      }
      &-4 {
        margin-left: $col-offset-4;
      }
      &-5 {
        margin-left: $col-offset-5;
      }
      &-6 {
        margin-left: $col-offset-6;
      }
      &-7 {
        margin-left: $col-offset-7;
      }
      &-8 {
        margin-left: $col-offset-8;
      }
      &-9 {
        margin-left: $col-offset-9;
      }
      &-10 {
        margin-left: $col-offset-10;
      }
      &-11 {
        margin-left: $col-offset-11;
      }
      &-12 {
        margin-left: $col-offset-12;
      }
    }
  }
  &-sm-offset {
    @include mq-minmax($xs,$sm-1) {
      &-1 {
        margin-left: $col-offset-1;
      }
      &-2 {
        margin-left: $col-offset-2;
      }
      &-3 {
        margin-left: $col-offset-3;
      }
      &-4 {
        margin-left: $col-offset-4;
      }
      &-5 {
        margin-left: $col-offset-5;
      }
      &-6 {
        margin-left: $col-offset-6;
      }
      &-7 {
        margin-left: $col-offset-7;
      }
      &-8 {
        margin-left: $col-offset-8;
      }
      &-9 {
        margin-left: $col-offset-9;
      }
      &-10 {
        margin-left: $col-offset-10;
      }
      &-11 {
        margin-left: $col-offset-11;
      }
      &-12 {
        margin-left: $col-offset-12;
      }
    }
  }
  &-md-offset {
    @include mq-minmax($sm,$md-1) {
      &-1 {
        margin-left: $col-offset-1;
      }
      &-2 {
        margin-left: $col-offset-2;
      }
      &-3 {
        margin-left: $col-offset-3;
      }
      &-4 {
        margin-left: $col-offset-4;
      }
      &-5 {
        margin-left: $col-offset-5;
      }
      &-6 {
        margin-left: $col-offset-6;
      }
      &-7 {
        margin-left: $col-offset-7;
      }
      &-8 {
        margin-left: $col-offset-8;
      }
      &-9 {
        margin-left: $col-offset-9;
      }
      &-10 {
        margin-left: $col-offset-10;
      }
      &-11 {
        margin-left: $col-offset-11;
      }
      &-12 {
        margin-left: $col-offset-12;
      }
    }
  }
  &-lg-offset {
    @include mq-minmax($md,$lg-1) {
      &-1 {
        margin-left: $col-offset-1;
      }
      &-2 {
        margin-left: $col-offset-2;
      }
      &-3 {
        margin-left: $col-offset-3;
      }
      &-4 {
        margin-left: $col-offset-4;
      }
      &-5 {
        margin-left: $col-offset-5;
      }
      &-6 {
        margin-left: $col-offset-6;
      }
      &-7 {
        margin-left: $col-offset-7;
      }
      &-8 {
        margin-left: $col-offset-8;
      }
      &-9 {
        margin-left: $col-offset-9;
      }
      &-10 {
        margin-left: $col-offset-10;
      }
      &-11 {
        margin-left: $col-offset-11;
      }
      &-12 {
        margin-left: $col-offset-12;
      }
    }
  }
  &-xl-offset {
    @include mq-min($lg) {
      &-1 {
        margin-left: $col-offset-1;
      }
      &-2 {
        margin-left: $col-offset-2;
      }
      &-3 {
        margin-left: $col-offset-3;
      }
      &-4 {
        margin-left: $col-offset-4;
      }
      &-5 {
        margin-left: $col-offset-5;
      }
      &-6 {
        margin-left: $col-offset-6;
      }
      &-7 {
        margin-left: $col-offset-7;
      }
      &-8 {
        margin-left: $col-offset-8;
      }
      &-9 {
        margin-left: $col-offset-9;
      }
      &-10 {
        margin-left: $col-offset-10;
      }
      &-11 {
        margin-left: $col-offset-11;
      }
      &-12 {
        margin-left: $col-offset-12;
      }
    }
  }
}