// Nav

.nav {
    @include flex-center-row;
    width: 100vw;
    max-width: 100vw;
    height: 6rem;
    justify-content: space-between;
    background-color: $a-lot-of-gray;
    @include mq-max(992px) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
    }
}

.nav__logo {
    height: 4rem;
    width: auto;
}

.nav__list {
    @include flex-center-row;
    padding: 0;
    list-style: none;
    @include mq-max(992px) {
        @include flex-center-column;
        position: fixed;
        left: 0;
        top: -100vh;
        width: 100vw;
        padding: 0;
        z-index: 1;
        list-style: none;
        background-color: inherit;
        height: calc(100vh - 4rem);
        transition: 0.3s all;
        &--expanded {
            top: 4rem;
            transition: 0.3s all;
        }
    }
}

.nav__item {
    font-size: 2rem;
    display: block;
    padding: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    margin: 0 3rem;
    @include flex-center-row;
    @include mq-max(992px) {
        width: 100vw;
        font-size: 2.2rem;
        text-align: center;
        z-index: 4;
        padding: 1rem 0 1rem 0;
        margin: 0 1rem;
    }
}

.nav__link {
    text-decoration: none;
    z-index: 5;
    color: $light-text-color;
}

.nav__hamburger, .nav__close-menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    font-size: 3rem;
    border: none;
    background: none;
    margin-left: auto;
    cursor: pointer;
    color: $light-text-color;
    @include mq-min(992px) {
        display: none;
    }
}

.nav__close-menu {
    display: none;
}