// Colors

$dark-text-color: #333;

$light-text-color: #ccc;

$very-gray: #303030;
$a-lot-of-gray: #404040;
$slightly-less-gray: #505050;
$normal-gray: #686868;
$lighter-gray: #787878;
$barely-gray: #909090;
$little-gray: #A8A8A8;
$almost-white: #C0C0C0;
$ok-its-white: #fcfcfc;

// Grid values

$container-width: 1200px;
$container-width-mobile: calc(#{$container-width} -1px);
$gutter: 20px;
$row-padding: 20px;

// Media breakpoints

$xs-1: 575px;
$xs: 576px;
$sm-1: 767px;
$sm: 768px;
$md-1: 991px;
$md: 992px;
$lg-1: 1199px;
$lg: 1200px;

// Grid size 

$col-1: calc(8.33% - 2*#{$gutter});
$col-2: calc(16.66% - 2*#{$gutter});
$col-3: calc(25% - 2*#{$gutter});
$col-4: calc(33.33% - 2*#{$gutter});
$col-5: calc(41.66% - 2*#{$gutter});
$col-6: calc(50% - 2*#{$gutter});
$col-7: calc(58.33% - 2*#{$gutter});
$col-8: calc(66.66% - 2*#{$gutter});
$col-9: calc(75% - 2*#{$gutter});
$col-10: calc(83.33% - 2*#{$gutter});
$col-11: calc(91.66% - 2*#{$gutter});
$col-12: calc(100% - 2*#{$gutter});

// Offsets

$col-offset-1: calc(#{$col-1} + 3*#{$gutter});
$col-offset-2: calc(#{$col-2} + 3*#{$gutter});
$col-offset-3: calc(#{$col-3} + 3*#{$gutter});
$col-offset-4: calc(#{$col-4} + 3*#{$gutter});
$col-offset-5: calc(#{$col-5} + 3*#{$gutter});
$col-offset-6: calc(#{$col-6} + 3*#{$gutter});
$col-offset-7: calc(#{$col-7} + 3*#{$gutter});
$col-offset-8: calc(#{$col-8} + 3*#{$gutter});
$col-offset-9: calc(#{$col-9} + 3*#{$gutter});
$col-offset-10: calc(#{$col-10} + 3*#{$gutter});
$col-offset-11: calc(#{$col-11} + 3*#{$gutter});
$col-offset-12: calc(#{$col-12} + 3*#{$gutter});